*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
/*hero-section starts here*/
.main{
    height: 600px;
    width: 100%;
    background: var(--gradient),url(./images/vecteezy_interior-design-with-sofa-illustration-ai-generative_23625267_15.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    padding: 20px;
    background-color: bisque;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.navbar ul{
    display: flex;
    float: right;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    margin: 0 40px;
    color: #ea6a0f80;
    overflow: hidden;
    font-weight: 700;
}
.navbar ul li a:hover{
    color: #000;
    transition: 0.5s;
}
.logo{
    padding-left: 60px;
}
.logo i{
    color: #fff;
    font-size: 30px;
}
.logo span{
    font-weight: 700;
    font-size: 20px;
}
/*hero-section ends here*/


/*about-section starts here*/
.about{
    height: 500px;
    background: whitesmoke;
    display: flex;  
    justify-content: space-around;
}
.image{
    height: 400px;
    width: 70%;
}
.image img{
    height: 500px;
    width: 80%;
}
.text{
    width: 50%;
    padding-right: 5%;
    text-align: justify;
    line-height: 2;
}
.text h2{
    color:#ea6a0f80;
    text-align: center;
    font-size: 30px;
}
/*hero-section ends here*/

/*work-section starts here*/
.work{
    background-color: #ea6a0f80;
    height: 420px;
    font-size: 18px;
    line-height: 2;
}
.work h1{
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
    color: #fff;

}

.work p{
    padding: 0 30px;
}
/*work-section ends here*/

/*resume-section starts here*/
.resume{
    height: 500px;
    background: whitesmoke;
    display: flex;  
    justify-content: space-around;
}
.images{
    height: 400px;
    width: 70%;
}
.images img{
    height: 500px;
    width: 80%;
}

.content{
    width: 50%;
    padding-right: 5%;
    text-align: justify;
    line-height: 2;
}
.content h1{
    color:#ea6a0f80;
    text-align: center;
    font-size: 30px;
}
/*resume-section ends here*/


/*contact-section starts here*/

.row{
    height: 400px;
    background-color: #ea6a0f80;
    display: flex;
    justify-content: space-around;
}
.sub-title{
    /* padding: 20px 0 20px 0; */
    font-size: 30px;
    color: #fff;
    margin: 20px 0;
}
.contact-left p{
    padding: 10px 0;

}

.contact-left i{
    color: white;
    padding: 10px 0;
}
.contact-left span{
    margin-left: 10px;

}
.contact-right{
    flex-basis: 40%;
}
.contact-right form{
    width: 100%;
    padding: 30px 0;
}
form label, form input{
    padding: 15px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;

}
button{
    background-color: white;
    color: #ea6a0f80;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}
button:hover{
    background-color: #ea6a0f80;
    color: #fff;
    transition: 0.5s;

}
/*contact-section ends here*/

/*footer-section starts here*/
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    height: 200px;
}
.logo1{
    padding: 30px 0;
    font-size: 35px;
}
.logo1 span{
    color: #ea6a0f80;
    font-weight: 700;

}
.shortlink{
    margin-top: 50px;
}
.shortlink li{
    list-style: none;
    padding: 5px 0;
    

}
.shortlink li a{
    text-decoration: none;
    color: #ea6a0f80;
    padding-left: 23px;
    
}
.icons i{
    color: #ea6a0f80;
    padding: 15px 0;
}
.social-footer a{
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid #ea6a0f80;
    padding-left: 20px;

}
/*footer-section ends here*/
    